<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeRvzhF7BRQywjdNwcPRJeNZXn7WP8Z-g</string>
	<key>GCM_SENDER_ID</key>
	<string>799612640452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medg</string>
	<key>PROJECT_ID</key>
	<string>medg-a0a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>medg-a0a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799612640452:ios:d65d8c2c71c01e4ec7bd91</string>
</dict>
</plist>